body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #181818;
}

.container {
  text-align: center;
}

.container__title {
  font-size: 50px;
  margin-top: 150px;
  margin-bottom: 0;
  color: #fff;
}

.container__subtitle {
  color: #fff;
  font-size: 24px;
}

.container__button {
  cursor: pointer;
  width: 150px;
  height: 50px;
  line-height: 50px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 50px;
  text-align: center;
  background: #af0000;
  margin: 20px;
}

.container__input {
  width: 100px;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 20px;
  border: none;
}
